<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Programa</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search products'">
            </mat-form-field>
            <!-- Add TipoDocumento button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createPrograma()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- TipoDocumento list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(programas$ | async) as programas">
                <ng-container *ngIf="programas.length > 0; else noPrograma">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="coordinacion-academica-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <div [mat-sort-header]="'nombreTipoPrograma'">Tipo de Programa</div>
                            <div [mat-sort-header]="'nombreModalidad'">Modalidad</div>
                            <div [mat-sort-header]="'codigo'">Codigo</div>
                            <div [mat-sort-header]="'nombre'">Nombre</div>
                            <div [mat-sort-header]="'nombreCoordinacionAcademica'">Coordinación Académica</div>
                            <div class="hidden sm:block">Detalle</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(programas$ | async) as programas">
                            <ng-container *ngFor="let programa of programas; trackBy: trackByFn">
                                <div class="coordinacion-academica-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <!-- Name -->
                                    <div class="truncate">
                                        {{programa.nombreTipoPrograma}}
                                    </div>
                                    <div class="truncate">
                                        {{programa.nombreModalidad}}
                                    </div>
                                    <div class="truncate">
                                        {{programa.codigo}}
                                    </div>
                                    <div class="truncate">
                                        {{programa.nombre}}
                                    </div>
                                    <div class="truncate">
                                        {{programa.nombreCoordinacionAcademica}}
                                    </div>
                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(programa.idPrograma)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedPrograma?.idPrograma === programa.idPrograma ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedPrograma?.idPrograma === programa.idPrograma">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: programa}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                   <!-- <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>
                   -->
                </ng-container>
            </ng-container>

            <ng-template
                #rowDetailsTemplate
                let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected TipoDocumento form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="selectedProgramaForm">
                            <div class="flex flex-col sm:flex-row p-8">
                                <div class="flex flex-auto flex-wrap">
                                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                        <!-- Name -->
                                        <mat-form-field class="w-full">
                                            <mat-label>Codigo</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'codigo'">
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Nombre</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'nombre'">
                                        </mat-form-field>

                                        <mat-form-field class="w-1/3 pr-2">
                                            <mat-label>Tipo de Programa</mat-label>
                                            <mat-select [formControlName]="'tipoProgramaId'">
                                                <ng-container *ngFor="let tipoPrograma of tiposprogramas">
                                                    <mat-option [value]="tipoPrograma.idTipoPrograma">
                                                        {{tipoPrograma.nombre}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field class="w-1/3 pr-2">
                                            <mat-label>Modalidad</mat-label>
                                            <mat-select [formControlName]="'modalidadId'">
                                                <ng-container *ngFor="let modalidad of modalidades">
                                                    <mat-option [value]="modalidad.idModalidad">
                                                        {{modalidad.nombre}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field class="w-1/3 pr-2">
                                            <mat-label>Coordinación Académica</mat-label>
                                            <mat-select [formControlName]="'coordinacionAcademicaId'">
                                                <ng-container *ngFor="let coordinacionAcademica of coordinacionesacademicas">
                                                    <mat-option [value]="coordinacionAcademica.idCoordinacionAcademica">
                                                        {{coordinacionAcademica.nombre}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'warn'"
                                    (click)="deleteSelectedPrograma()">
                                    Eliminar
                                </button>
                                <div class="flex items-center">
                                    <div
                                        class="flex items-center mr-4"
                                        *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon
                                                class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Programa Actualizado</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon
                                                class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">Un error a ocurrido, intentelo de nuevo!</span>
                                        </ng-container>
                                    </div>
                                    <button
                                        mat-flat-button
                                        [color]="'primary'"
                                        (click)="updateSelectedPrograma()">
                                        Actualizar
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </ng-template>

            <ng-template #noPrograma>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No se encontraron programas!</div>
            </ng-template>
        </div>
    </div>
</div>
